html,
body {
    background-color: #282B39;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
